/*--------------------- END PAGE CSS -----------------*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {
    background-color: #e40b0b;
}

/*-------------------- NAV BAR --------------------*/

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0d6efd;
    font-weight: 900;
    background-color: #cccccc;
    font-family: 'Bangers', serif;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bangers', serif;
    letter-spacing: 2px;
    text-decoration: solid;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}


/*--------------------- END FORM CONTAINER -------------*/
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    background-color: #e40b0b;
    margin: auto;
}
#end {
    background-color: #e40b0b;
    font-family: 'Bangers', serif;
    height: 100%;
    text-shadow: #273e47;
    color: gold;
}
.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    background-color: #e40b0b;
}
input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem #273e47;
}
input::-webkit-input-placeholder {
    color: #aaa;
}
input::-moz-placeholder {
    color: #aaa;
}
input:-ms-input-placeholder {
    color: #aaa;
}
input::-ms-input-placeholder {
    color: #aaa;
}
input::placeholder {
    color: #aaa;
}
#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
    color: black;
}
#end-text {
    font-size: 2.4rem;
    color: #aaa;
    text-align: center;
    text-shadow: #273e47;
}
#saveScoreBtn {
    border: none;
    cursor: grab;
}
.btn {
    font-family: 'Bangers', serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    color: gold;
}
/*-------------------- DIVIDERS --------------*/
.divider {
    color: #cccccc;
    width: 100%;
    height: 2px;
    border: solid;
    border-radius: 10px;
}
/*-------------------- FOOTER -----------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-inline {
    padding: 20px;
    list-style: none;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
i {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
}
.copyright {
    font-family: 'Bangers', serif;
    align-items: center;
    justify-content: center;
    display: flex;
}
/*--------------------- MEDIA QUERIES ------------------*/
@media screen and (max-width: 320px) {
    .social-links i {
        width: 100%;
        vertical-align: center;
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
        display: flex;
    }
}
@media (min-width: 576px) {
    .text-sm-center {
        text-align: center !important;
    }
    .flex-sm-fill {
        flex: 1 1 auto !important;
    }
}