/*--------------------- END PAGE CSS -----------------*/

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
    background-color: #e40b0b;
    font-family: 'Bangers';
   }

.end-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
    background-color: #e40b0b;
}

input{
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.4rem 1.4rem #273e47 ;
}

input::-webkit-input-placeholder{
    color: #aaa;
}

input::-moz-placeholder{
    color: #aaa;
}

input:-ms-input-placeholder{
    color: #aaa;
}

input::-ms-input-placeholder{
    color: #aaa;
}

input::placeholder{
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text{
    font-size: 2.4rem;
    color: #aaa;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}}