@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/*---------------------- HIGHSCORED PAGE CSS ----------------------*/
body {
    background-color: #e40b0b;
}
/*-------------------- DIVIDERS --------------*/
.divider {
    color: #cccccc;
    width: 100%;
    height: 2px;
    border: solid;
    border-radius: 10px;
}
/*-------------------- NAVBAR / MAIN HEADING AND BODY -----------------*/
/* Credit to Bootstrap for responsive nav bar*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0d6efd;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: #cccccc;
    font-family: 'Bangers', serif;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bangers', serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-decoration: solid;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
li {
    list-style-type: none;
    display: flex;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.header {
    font-family: 'Bangers', serif;
    font-size: 1.5rem;
    color: #cccccc;
    text-shadow: 4px 4px #273e47;
}
li {
    list-style-type: none;
}
#finalScore {
    font-family: 'Bangers', serif;
    font-size: 3.5rem;;
    color: #cccccc;
    text-shadow: 4px 4px #273e47;
    text-align: center;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

#highScoresList {
    font-family: 'Bangers', serif;
    font-size: 1.5rem;
    color: gold;
    display: inline-block;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
}
/*-------------------- FOOTER -----------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-inline {
    padding: 20px;
    list-style: none;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
i {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
}
.copyright {
    font-family: 'Bangers', serif;
    
}
/*--------------------- MEDIA QUERIES ------------------*/
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
        display: flex;
    }
    
}
@media screen and (max-width: 320px) {
    .social-links i {
        width: 100%;
        vertical-align: center;
        display: flex;
    }
    #finalScore{
        font-size: 3rem ;
    }
    .copyright{
        justify-content: center;
    }
}
@media (min-width: 576px) {
    .text-sm-center {
        text-align: center !important;
    }
    .flex-sm-fill {
        flex: 1 1 auto !important;
    }
}