@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body {
    background-color: #e40b0b;
    font-family: 'Bangers';
   }

   /*-------------------- NAVBAR / MAIN HEADING AND BODY -----------------*/
   /* Credit to Bootstrap for responsive nav bar*/
   
   .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
       color: #0d6efd;
       font-weight: 900;
       background-color: #cccccc;
       font-family:'Bangers';
   }
   
   .nav-link {
       display: block;
       padding: 0.5rem 1rem;
       color: #0d6efd;
       text-decoration: none;
       font-weight: 900;
       font-family:'Bangers';
       letter-spacing: 2px;
       text-decoration: solid;
       transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
   }
   
      li{
         list-style-type: none;
         display: flex;
      }
   
      *, ::after, ::before {
       box-sizing: border-box;
   }

   .header{
    font-family:'Bangers';
    font-size: 1.5rem;;
    color: #cccccc;
    text-shadow: 4px 4px #273e47;
   }

   li{
      list-style-type: none;
   }

#finalScore {
    font-family:'Bangers';
    font-size: 5rem;;
    color: #cccccc;
    text-shadow: 4px 4px #273e47;
    text-align: center;
    letter-spacing: 2px;
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    margin: 0;
   }

   /*-------------------- FOOTER -----------------*/
footer {


}

.list-inline {
   padding-left: 0;
   list-style: none;
   font-size: 2rem;
   display: flex;
   position: absolute;
}


   /*--------------------- MEDIA QUERIES ------------------*/

@media screen and (max-width:320px) {
   .social-links i{
   width: 100%;
   vertical-align: center;
   display: flex;
   }

@media screen and (max-width: 768px){
   .choice-container{
           min-width: 40rem;
           display: flex;
       }
   }

   @media (min-width: 576px)
.text-sm-center {
   text-align: center!important;
}
@media (min-width: 576px)
.flex-sm-fill {
   flex: 1 1 auto!important;
}