
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body {
    background-color: #e40b0b;
    font-family: 'Bangers', serif;
    height: 100vh;
}
/*-------------------- NAVBAR / MAIN HEADING AND BODY -----------------*/
/* Credit to Bootstrap for responsive nav bar*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0d6efd;
    font-weight: 900;
    background-color: #cccccc;
    font-family: 'Bangers', serif;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    font-weight: 900;
    font-family: 'Bangers', serif;
    letter-spacing: 2px;
    text-decoration: solid;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
li {
    list-style-type: none;
    display: flex;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/*-------------------------- CHOICES CONTAINER -------------------*/
.choice-container {
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: #cccccc;
    font-size: 3rem;
    display: flex;
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem #273e47;
    transform: scale(1.02);
}
.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}
.choice-text {
    padding: 2rem;
    width: 100%;
    font-size: 2rem;
}
.container-fluid {
    align-items: center;
    justify-content: center;
}
/*--------------------------------- CORRECT / INCORRECT -----------------*/
.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36, 1) 0%, rgb(41, 232, 111) 100%);
}
.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11) 100%);
}
/*---------------------------------- HEADS UP DISPLAY --------------------*/
#hud {
    justify-content: space-between;
}
.hud-prefix {
    text-align: center;
    font-size: 2rem;
}
.hud-main-text {
    text-align: center;
}
#progressBar {
    width: 100%;
    height: 3rem;
    border: 0.2rem solid rgb(11, 223, 36);
    margin: auto;
    border-radius: 50px;
    overflow: hidden;
}
#progressBarFull {
    height: 100%;
    background: rgb(11, 223, 36);
    width: 0;
}
/*---------------------------------- Image containers ----------*/
.column {
    float: left;
    width: 24%;
    padding: 2px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------------------- Clear floats after image containers -------- */
.row::after {
    content: "";
    clear: both;
    display: flex;
}
.row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/*-------------------- DIVIDERS --------------*/
.divider {
    color: #cccccc;
    width: 100%;
    height: 2px;
    border: solid;
    border-radius: 10px;
}
/*----------------------------------- FOOTER -----------------------------*/
footer {
    /*position: absolute;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}
/*.list-inline {
   padding: 20px;
   list-style: none;
   font-size: 2rem;
   justify-content: center;
   align-items: center;
   display: flex;
} */
.list-inline {
    padding-left: 0;
    list-style: none;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.copyright {
    font-family: 'Bangers', serif;
}
/*---------------------- HIGHSCORED PAGE CSS ----------------------*/
body {
    background-color: #e40b0b;
}
/*-------------------- DIVIDERS --------------*/
.divider {
    color: #cccccc;
    width: 100%;
    height: 2px;
    border: solid;
    border-radius: 10px;
}
/*-------------------- NAVBAR / MAIN HEADING AND BODY -----------------*/
/* Credit to Bootstrap for responsive nav bar*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #0d6efd;
    font-weight: 900;
    background-color: #cccccc;
    font-family: 'Bangers', serif;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Bangers', serif;
    letter-spacing: 2px;
    text-decoration: solid;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
li {
    list-style-type: none;
    display: flex;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.header {
    font-family: 'Bangers', serif;
    font-size: 1.5rem;
    color: #cccccc;
    text-shadow: 4px 4px #273e47;
}
li {
    list-style-type: none;
}
#finalScore {
    font-family: 'Bangers', serif;
    font-size: 5rem;;
    color: #cccccc;
    text-shadow: 4px 4px #273e47;
    text-align: center;
    letter-spacing: 2px;
    /*top: 0.5em;*/
    /*left: 0;*/
    justify-content: center;
    align-items: center;
    margin: 0;
}
#highScoresList {
    font-family: 'Bangers', serif;
    font-size: 1.5rem;
    color: gold;
    display: inline-block;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*-------------------- FOOTER -----------------*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-inline {
    padding: 20px;
    list-style: none;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
i {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
}
.copyright {
    font-family: 'Bangers', serif;
    display: flex;
}
/*--------------------- MEDIA QUERIES ------------------*/
@media screen and (max-width: 320px) {
    .social-links i {
        width: 100%;
        vertical-align: center;
        display: flex;
    }
}
@media (min-width: 1200px) {
    #question {
        font-size: 2.5rem;
        padding-top: 6rem;
    }
}
@media (min-width: 576px) {
    .text-sm-center {
        text-align: center !important;
    }
    .flex-sm-fill {
        flex: 1 1 auto !important;
    }
    .choice-text {
        font-size: 1.5rem;
    }
}